<%- include("partials/header") %>
<div class="container">
  <div class="row mt-4">
    <div class="col-6 show_image-container">
      <img src="<%= city.image %>" alt="Picture of the city">
    </div>
    <div class="col-6 show_details-container">

      <p><%= city.description %></p>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Country</th>
            <td class="text-capitalize"><%= city.country %></td>
          </tr>
          <tr>
            <th scope="row">Region</th>
            <td class="text-capitalize"><%= city.region %></td>
          </tr>
          <tr>
            <th scope="row">Population</th>
            <td><%= city.population %></td>
          </tr>
        </tbody>
      </table>
      <!-- Edit city and delete city buttons used to be here -->
    </div>
  </div>
  <div class="row">
    <!-- <a href="#" class="col-3">
      <button type="button" id="watchlist_btn" class="btn btn-success btn-lg mt-3 mb-4">Add To Watchlist</button>
    </a> -->
    <% if(user && user.watchlist.some(e => e._id.equals(city._id))) { %>
      <form class="col-2" action="/account/watchlist?_method=DELETE" method="POST">
        <input type="hidden" name="cityId" value="<%= city._id %>">
        <button type="submit" class="btn btn-danger btn-lg">Delete From Watchlist</button>
      </form>
    <% } else { %>
      <form class="col-2" action="/account/watchlist" method="POST">
        <input type="hidden" name="cityId" value="<%= city._id %>">
        <button type="submit" class="btn btn-success btn-lg">Add To Watchlist</button>
      </form>
    <% } %>
    <% if(user && user.username === city.owner.username) { %>
      <div class="col-2">
        <div class="d-flex flex-row">
          <a href="/cities/<%= city._id %>/edit">
            <button class="btn btn-outline-info btn-lg btn-block mx-2">Edit</button>
          </a>
          <form action="/cities/<%= city._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-lg">Delete</button>
          </form>
        </div>
      </div>
    <% } %>
  </div>

  <% if(user) { %>
    <div class="addComment p-0 m-0">
      <div class="card mb-2 w-100 p-0 m-0">
        <form class="m-0" action="/cities/<%= cityId %>/comments" method="POST">
          <div class="card-body p-0 m-0">
            <div class="form-group">
              <label class="visually-hidden" for="text">Comment Text</label>
              <textarea class = "form-control" name="text" id="text" rows="8" cols="80" placeholder="Comment text here..." required></textarea>
            </div>
          </div>
          <div class="card-footer mb-0">
            <input type="hidden" name="cityId" value="<%= cityId %>">
            <button type="submit" class="btn btn-primary">Comment</button>
          </div>
        </form>
      </div>
    </div>
  <% } else { %>
    <p><a href="/login">Login</a> to add your own comment and vote on other comments</p>
  <% } %>

  <% let x = 0; %>
  <% let collapseId = ""; %>
  <% comments.forEach((comment) => { %>

    <% collapseId = "collapseExample" + x; %>
    <div class="card border-dark mb-2 w-100">
      <h5 class="card-header bg-transparent border-0"><%= comment.user.username %></h5>
      <div class="card-body bg-transparent">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text comment-text"><%= comment.text %></p>
      </div>
      <div class="card-footer bg-transparent border-0">
        <div class="collapse" id="<%= collapseId %>">
          <form action="/cities/<%= city._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
              <label class="visually-hidden" for="text">Comment Text</label>
              <textarea class = "form-control" name="text" id="text" rows="2" cols="80" required autofocus><%= comment.text %></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Edit Comment</button>
          </form>
        </div>
        <div class="voting d-flex flex-row">
          <% if(user && comment.upvotes.indexOf(user.username) >= 0) { %>
            <button class="<%=comment._id%> upvote_btn btn btn-success btn-sm me-1 p-0">
          <% } else if(user) { %>
            <button class="<%=comment._id%> upvote_btn btn btn-outline-success btn-sm me-1 p-0">
          <% } else { %>
            <button class="<%=comment._id%> upvote_btn btn btn-outline-success btn-sm me-1 p-0" disabled>
          <% } %>
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
            </svg>
          </button>

          <span class="score"><%= comment.upvotes.length - comment.downvotes.length %></span>

          <% if(user && comment.downvotes.indexOf(user.username) >= 0) { %>
            <button class="downvote_btn btn btn-danger btn-sm ms-1 p-0">
          <% } else if(user) { %>
            <button class="downvote_btn btn btn-outline-danger btn-sm ms-1 p-0">
          <% } else { %>
            <button class="downvote_btn btn btn-outline-danger btn-sm ms-1 p-0" disabled>
          <% } %>
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
          <% if(user && user.username === comment.user.username) { %>
            <!-- <div class="d-flex flex-row"> -->
              <!-- <p> -->

              <span class="align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit comment">
                <button class="btn btn-sm btn-light p-0 ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#<%= collapseId %>" aria-expanded="false" aria-controls="<%= collapseId %>">
                  <i class="fas fa-edit fa-lg"></i>
                </button>
              </span>

              <!-- </p> -->
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete comment">
                <form class="mt-1 mb-0 ms-1" action="/cities/<%= city._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-light p-0">
                    <i class="fas fa-trash-alt fa-lg"></i>
                  </button>
                </form>
              </span>

            <!-- </div> -->

            <% } %>
        </div>

      </div>
    </div>
  <% x++; }) %>
  <div class="py-5"></div>
</div>
<script>
  var cityId = "<%- city._id %>"
</script>
<script src="/js/cities_show.js"></script>
<%- include("partials/footer") %>
